@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.container {
    min-height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1.5fr 6fr;
    grid-template-rows: 1fr 6fr ;
    
}

header {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 2fr 1fr;
    padding-top: 10px;
    padding-left: 10px;

}

form {
    display: flex;
    align-items: center;
    input {
        width: 650px;
        height:  25px;
        border:none;
        background-color:#e5e7eb;
        border-radius: 20px;
        outline: none;
        box-sizing: content-box;
        padding-left: 15px;
    }
}
.btn_header {
    border:none;
    background-color:inherit;
    display: inline;
}

.icon_header {
    width: 30px;
    height: 30px;
}

#profile {
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    img {
        width: 60px;
        height: 60px;
        border-radius: 100%;
        clip-path: circle(34.5% at center);
    }
}

.profile_btn {
    grid-row: 2 / 3;
    grid-column: 1;
    display: flex;
    align-items: center;
}


article {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    
}

aside {
    grid-row: 1 / 4;
    grid-column: 1 /2;
    background-color: rgb(29, 163, 247);
    color: white;
    display: grid;
    grid-template-rows: 1fr 3fr 3fr;
    
    ul > li {
        list-style-type: none;
        font-size: 1.3em;
        font-weight: 700;
        display: flex;
        align-items: center;
        
        
        
    }
}

.aside_list1 , .aside_list2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h1 {
    display: flex;
    gap: 10px;
    padding-left: 10px;
    align-items: center;
}
.icon_logo {
    width: 60px;
    height: 60px;
    fill: white;
}

.icon {
    width: 30px;
    height: 30px;
    fill: white;
    margin-right: 10px;
}

