@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;

}

.container {
    min-height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr ;
    
}

header {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    padding: 20px 40px;
    align-items: center;

}

form {
    display: flex;
    align-items: center;
    input {
        width: 650px;
        height:  25px;
        border:none;
        background-color:#e5e7eb;
        border-radius: 20px;
        outline: none;
        box-sizing: content-box;
        padding-left: 15px;
    }
}
.btn_header {
    border:none;
    background-color:inherit;
    
}

.icon_header {
    width: 30px;
    height: 30px;
}

#profile {
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    img {
        width: 60px;
        height: 60px;
        border-radius: 100%;
        clip-path: circle(45% at center);
    }
}

.profile_btn {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-column: 1 / 3;
}

.profile_name {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto;
    
    img {
        width: 100px;
        height: 100px;  
        border-radius:100%;
        clip-path: circle(45% at center);
        justify-self: end;

    }
    h3 {
        grid-column: 2 /3;
        grid-row: 1;
        font-weight: 500;
        font-size: 1em;
        p {
            margin:0;
            font-size: 1.3em;
            font-weight: 700;
        }
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    button {
        width: 120px;
        height: 40px;
        border-radius: 20px;
        background-color: #1da3f7;
        color: white;
        font-size: 1.1em;
        font-weight: 400;
        border:none;
    }
}

.main {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 300px;
    background-color: #e2e8f0;
    grid-template-rows: auto 1fr;
    gap: 25px;
    padding: 25px;
}

.cards {
    grid-row: 1 / 3;
    grid-column: 1/ 2;
    display: flex;
    flex-direction: column;
    padding: 30px;
    h2 {
        font-size: 1.6em;
        margin: 0;
        padding-bottom: 20px;
    }
}
.cards > div {
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    gap: 25px;
}

.card {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    border-left: 8px solid #f0b429; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: start;
    min-height: 150px;
    h3, p {
        margin: 0;
    }
    p {
        color:#666;
    }
}
.card_icon {
    
    align-self: end;
    margin-top: auto;
    padding-bottom: 15px;
    bottom: 0;
    display: flex;
    gap: 15px;
    svg {
        
        width: 25px;
        height: 25px;
    }
}

.card_announcements > h2 {
    font-size: 1.6em;
}
.announcement_box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.ann_item {
    padding: 15px 0;
}

.ann_item:not(:last-child) {
    border-bottom: 1px solid #eee; 
}

.ann_item h4 { margin: 0 0 5px 0; font-size: 0.9em; }
.ann_item p { margin: 0; font-size: 0.8em; color: #666; }

.card_trending {
    grid-column: 2 /3;
    grid-row: 2 / 3;
    margin-top: 20px;
}
.card_trending > h2 {
    font-size: 1.6em;
}

.trending_box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.trending_user {
    display: flex;
    align-items: center;
    gap: 15px;
}

.trending_user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
aside {
    grid-row: 1 / 4;
    grid-column: 1 /2;
    background-color: rgb(29, 163, 247);
    color: white;
    display: grid;
    grid-template-rows: 1fr 3fr 3fr;
    
    ul > li {
        list-style-type: none;
        font-size: 1.3em;
        font-weight: 700;
        display: flex;
        align-items: center;
        
        
        
    }
}

.aside_list1 , .aside_list2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h1 {
    display: flex;
    gap: 10px;
    padding-left: 10px;
    align-items: center;
}
.icon_logo {
    width: 60px;
    height: 60px;
    fill: white;
}

.icon {
    width: 30px;
    height: 30px;
    fill: white;
    margin-right: 10px;
}

