*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

:root {
    --bg-grey: rgba(70, 70, 70, 0.5);
    --form-bg-color:rgba(215, 215, 215, 0.4);
}
body{
    display: flex;
    font-family: 'Roboto Condensed', system-ui, sans-serif;
    color: #333;
}

.side_section {
    height: 100vh;
    width: 40%;
    background: url("roberto-shumski-fQqvheRnzpo-unsplash.jpg") center / cover;
    display: flex;
    justify-content: center;
    position: relative;
}

.logo_container {
    background-color: var(--bg-grey);
    width: 100%;
    height: 180px;
    position: absolute;
    top: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo  {
    width: 350px;
    height: 250px;
}

.side_footer  {
    position: absolute;
    bottom: 15px;
    font-size: 1em;
    color: white;

    a {
        
        color: inherit;
    }
}

.form_section {
    height: 100vh;
    width: 60%;
    background-color:var(--form-bg-color);
    display: flex;
    flex-direction: column;  
}

.form {
    flex: 1;
}

.section_text {
    font-size: 2em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items:center;   
    h1 {
        font-weight: 400;
    }
}

.input_section {
    background-color: white;
    box-shadow: -3px 5px 17px -5px rgba(0,0,0,0.62);
    h2 {
        font-size: 1.6em;
        margin: 20px;
    }
}

.input_form {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    align-items:center;
     label {
        font-size: 1.1em;
        font-weight: 600;
    }
}

.form_group {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin: 0 0 25px 35px ;
}

input {
    border-radius: 4px;
    padding: 8px 10px;
    width: 230px;
    border: 2px solid #ccc;
    outline: none;
}
input:focus {
    border-color: blue;
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.2);
}
.btn_section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 30px;
    padding-left: 30px;
    p{
        font-size: 1.1em;
        a {
            text-decoration: none;
            color:rgb(0, 144, 50);
        }
    }
}

.btn {
    width: 225px;
    height: 45px;
    border-radius: 5px;
    background-color:rgb(0, 144, 50);
    font-size:1.1em;
    border: none;
    -webkit-box-shadow: 2px 2px 16px -12px #000000; 
    box-shadow: 2px 2px 10px 1px #000000;
    margin-bottom: 20px;
    color: white;
}

.btn:hover {
    color:rgb(0, 144, 50);
    background-color:white;
    font-size: 1.15em;
    cursor: pointer;
}

.error_message {
    color: red;
    font-size: 0.8em;
    display: none;
    margin-top: 4px;
}

input:not(:placeholder-shown):invalid:not(:focus) + .error_message {
    display: block;
}

input:not(:placeholder-shown):invalid:not(:focus) {
    border: 2px solid red;
}

