body {
    width: 100%;
    background-color: white;
 
}

#header {
    width: 800px;
    position: relative;
    left: 550px;
    top: 10px;
  
    
}

.logo_header {
    display: inline-block;
    margin-right: 32px;
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 6px;
    background-color:black;
    padding: 10px;
    font-weight:bolder;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.nav-bar {
    display: inline;
    margin:32px;
    
}
a {
    text-decoration: none;
    padding-right: 32px;
    display: inline;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.nav-bar .nav-button {
    width: 112px;
    height: 44px;
    background-color: rgba(130, 71, 255, 1); 
    text-align: center;
    padding: 5px;
    border-radius:10px;
    border: solid white;
    color: white;
    font-size: 100%;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    transition: 1s;
}

.nav-button:hover {
    background-color:firebrick;
    color:antiquewhite;
    cursor: pointer;
    
}
.main-section-text {
    font-family: Arial, Helvetica, sans-serif;
    font-style:normal;
    font-size: 55px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 200;
}
.image-main {
    position: relative;
    
    
}
.main-img {
    position: absolute;
    
    z-index: 1;
}
.main-img1 {
    position: absolute;
    z-index: 3;
    top:225px ;
    left: -211px;
   
}
.main-img2 {
    position: absolute;
    z-index: 3;
    top:110px;
    right:-103px;
}
.main-img3 {
    position: absolute;
    z-index: 2;
    top: 15px;
    left: 18px;
}

.get-started {
    width: 100%;
    position: relative;
    top: 550px;
}
.circle-text {
    width: 100%;
    
    display: flex;
    
    
    
}
.circle-text .circle {
    background-color:black;
    position: absolute;
    border-radius: 200px;
    width: 18px;
    height: 18px;   
    margin-right: 25px ; 
    margin-top: 10px;
    left: 250px;
}

.text-circle {
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    position: absolute;
    left: 280px;
}
.get-started .Get-text{
    font-size: 53px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 450;
    text-align: center;
    width: 1060px;
    height: 210px;
    position: absolute;
    left: -195px;
}

.get-started .Get-btn {
    width: 220px;
    height: 80px;
    background-color: #8247FF;
    color: #FFFFFF;
    position: absolute;
    top: 350px;
    right: 360px;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border:#8247FF;
    border-radius: 200px;
    transition: 1s;
}

.Get-btn:hover {
    background-color:firebrick;
    color:antiquewhite;
    cursor: pointer;
    
}
